.about {
    padding-bottom: 2rem;

    &__bio-image {
        height: 50vh;
        width: 100%;
        background: 
        linear-gradient(32deg,
        rgba($primary-color, 1) 0%,
        rgba($primary-color, .9) 15%,
        rgba($primary-color, .6) 27%,
        rgba($primary-color, .4) 35%,
        rgba($primary-color, .4) 63%,
        rgba($primary-color, .5) 75%,
        rgba($primary-color, 1) 100%),
        url('/dist/img/bo.jpg');
        background-size: cover;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
    
    p {
      margin-bottom: 2rem;

       a {   
           color:blue;
           text-decoration: underline blue; 
           background-color: rgba(99, 88, 88, 0.904);
           font-weight: normal;        
            }

         a:visited {
          color:rgb(148, 147, 247);
          text-decoration: underline rgb(148, 147, 247);
          background-color: rgba(99, 88, 88, 0.904);
            }
        
        a:hover {
          color: rgb(124, 0, 0);
          text-decoration: underline rgb(124, 0, 0);
            }
      }
    }
  &__bio {
      width: 80%;
      text-align: center;

      .text-secondary {
          padding-bottom: 1rem;
          font-size: 2rem;        
         }
  }

  .jobs {
      width: 60vw;
      margin: 2rem auto 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      &__job {
          background: lighten($primary-color, 10%);
          padding: 0.5rem;
          border-bottom: 5px solid $secondary-color;
          outline: 3px solid lighten($primary-color, 10%);
          outline-offset: 5px;

          h2, h3 {
              margin: .6rem 0;
          }
          h6 {
              margin: .4rem 0;  
              color: lighten($secondary-color, 7%);   
              letter-spacing: .3px;               
          }    
      }
  }
  .social-icons {
      display: flex;
      flex-direction: column;
  }
  footer {
      transform: rotate(90deg)
      translate(-3rem, -5rem);
  }
}