$primary-color: #272727;
$secondary-color: #ed7019;
$primary-accent-color: antiquewhite;
$secondary-accent-color: #df4e98;
$secondary-accent-color2: #635264;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin outline {
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }

    @else {
        @return $primary-accent-color;
    }
}

@mixin media-sm {
    @media screen and (min-width: 650px) {
        @content;
    }
}
@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}