$primary-color: #23272a;
$secondary-color: #ef7f31;
$tertiary-color: #19ed71;
$primary-accent-color: antiquewhite;
$secondary-accent-color: #7119ed;
$secondary-accent-color2: #635264;



@mixin outline {
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40%) {
        @return #000;
    }

    @else {
        @return $primary-accent-color;
    }
}

@mixin media-mh {
    @media screen and (max-height: 640px) {
        @content;
    }
}
@mixin media-smh {
    @media screen and (max-height: 500px) {
        @content;
    }
}

@mixin media-sm {
    @media screen and (min-width: 650px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}