@import 'config';

.home {
    margin-top: 88px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: #23272a;

    &__top {
        margin-top: 23.8vh;
        height: 20vh;
        animation: fade__up 1.5s forwards ease-in-out;
    }

    &__name {
        font-size: clamp(40px, 10vw, 5rem);
        padding-bottom: 1rem;
        margin-bottom: 7rem;
        animation: fade__up 1.5s forwards ease-out;

        &--last {
            color: #ef7f31;
            font-weight: 700;
        }
    }

    &__bottom {
        margin-top: 3vh;
        align-items: center;
        text-align: center;
        font-size: clamp(20px, 3vw, 30px);
    }

    &_ .social-icons {
        display: flex;
        flex-direction: column;
        font-size: clamp(10px, 2vw, 15px);
    }
}

@keyframes fade__up {

    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.mepic {
    display: flex;
    aspect-ratio: auto 4 / 3;
    opacity: 0;
    scale: 0;
    background: linear-gradient(to top right, transparent 70%, rgba(0, 0, 0, 0.1) 80%), url('/dist/img/mepic.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    outline: 3px rgb(35, 39, 42) solid;
    outline-offset: -4px;
    border-radius: 50%;
    animation: mepic .5s 1.75s forwards ease-in-out;

    &_mask {
        position: relative;
        margin-top: 8vh;
        width: 38%;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes mepic {

    from {
        opacity: 0;
        scale: 0;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}