@import 'config';

.home {
    height: 100%;
    overflow: hidden;
    align-items: center;
    text-align: center;

    &__photo {
     height: 50vh;

    }

    &__top {
        margin-top: 30vh;
        height: 20vh;
        border-bottom: 3px solid #ed7019;
        margin-bottom: 3rem;
        @include outline;
    }

    &__name {
        font-size: clamp(40px, 10vw, 5rem);
        padding-bottom: 1rem;
        margin-bottom: 7rem;

        &--last {
            color: $secondary-color;
            font-weight: 700;
        }
    }

    &__bottom {
        padding-top: 3rem;
        align-items: center;
        text-align: center;
    }
}

.logo {
    width: 20px;
}
.logo:hover {
width: 25px;
}