.projects {
    padding-bottom: 2rem;

    &__bio-image {
        height: 54vh;
        width: 100%;
        background: #494e50;
        background-size: cover;
        position: fixed;
        top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        z-index: 5;
    }

    .text-secondary {
        font-size: 2rem;
        margin-bottom: 2rem;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px rgb(0, 0, 0), 2px -1px 0 rgba(27, 27, 27, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(39, 39, 39, 0.7);
    }

    .orange-line {
         top: 35vh;
  height: 3px;
  width: 100%;
  background-color: #ef7f31;
    }

    .gray-line {
     top: 35vh;
  height: 5px;
  width: 100%;
  background: #23272a;
    }

    .bottom {
        top: 0%;
        position: relative;
        margin-top: 57vh;
    }

    &__items {
        min-height: 40vh;
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    &__item {
        position: relative;
        border-bottom: 3px solid $secondary-color;
        overflow: hidden;
        height: fit-content;

        img {
            width: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: 100%;
            width: 100%;
            background: $secondary-color;
            opacity: 0;
            @include transition-ease;
        }

        &:hover {
            &::after {
                top: 0;
                opacity: .9;
            }

            .projects__btn {
                opacity: 1;
            }
        }
    }

    &__btns {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__btn {
        opacity: 0;
        color: #000;
        @include transition-ease;

        &:hover {
 color: antiquewhite;
        }
    }

    & .social-icons {
        display: flex;
        flex-direction: column;
        font-size: clamp(10px, 2vw, 15px);
    }
}

.project__greeting {
    font-weight: 600;
    letter-spacing: -1.3px;
    margin-bottom: 1rem;

    & span {
        opacity: 0;
        display: inline-block;
        animation: letter_line 4s forwards linear;
        animation-delay: calc(.1s * var(--i));
    }
}

@keyframes letter_line {
    0% {
        transform: translateX(1000%);
        opacity: 0;
        scale: 2;
    }

    5% {
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }

    95% {
        transform: translateX(0);
        opacity: 1;
        scale: 1;
    }

    100% {
        transform: translateX(-1000%);
        opacity: 0;
        scale: 2;
    }
}

.video-player {
    align-items: center;
    justify-content: center;
    width: 270px;
    margin-bottom: -11.5vh
}

#video {
position: fixed;
    object-fit: cover;
    background-size: contain;
    opacity: 0;
    transition: all .3s ease-in-out;
    display: hidden;
    margin-top: 1.5vh;
}

.video-close {
    opacity: 0;
    margin-left: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.projects__btns input[type=radio] {
    cursor: pointer;
     transform: translateY(-7px);
    opacity: 0;
}

.projects__btn .fas.fa-eye {
  transform: translate(4px, 7.3px);
  transition: all 0.3s ease-in-out;
  width: 100%;
  cursor: pointer;
}

.projects__btn .fas.fa-eye:hover {
     color: antiquewhite;
}