.intro_mask {
  position: fixed;
  background-color: #23272a;
  top: 0vh;
  height: 10vh;
  width: 100%;
  z-index: 3;
}

.tldr__btn {
  display: flex;
  position: relative;
  text-shadow: none;
  margin: 10px;
  color: #2b2a2a;
  justify-content: center;
  background-color: #ef7f31;
  box-shadow: inset 0 0 7px black;
  font-weight: 600;
  transition: 0.2s all;
  width: auto;
  padding: 4px 10px;
  font-size: clamp(12px, 1vw, 14px);
  margin-left: 85%;
  border: #743458fa 1px solid;
  border-radius: 30px;
  cursor: pointer;

  &__inside_text {
    width: 100%;

    &::before {
      content: attr(data-tldr_text);
      display: inline-block;
      line-height: 1.5;
      font-size: clamp(10px, 2vh, 12px);
white-space: pre-line;
      text-shadow: none;
      color: black;
      padding: 10px;
    }
  }

  &:hover {
    content: "";
    color: antiquewhite;
    outline: 1px #faebd7b3 solid;
    background-color: #f18a40;
    box-shadow: inset 0 0 10px #743458fa,
      inset 0 0 5px #000000;
    border: #743458fa 1px solid;
    transition: 0.2s all;
  }
}

.tldrText__btn {
  display: flex;
  align-items: center;
  position: absolute;
  background: white;
  outline: #4d5458 1px solid;
  outline-offset: -5px;
  padding: 5px;
  right: 30%;
  width: 260px;
  transform: translateY(-25%);
  border-radius: 9px;
  transition: all .3s ease;
  animation: tldrPop .5s;
  z-index: 5;
}

@keyframes tldrPop {

  0% {
    scale: 0;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }

}

.tldr__btn {
  text-shadow: none;
  margin: 10px;
  color: #2b2a2a;
  text-align: center;
  background-color: #ef7f31;
  box-shadow: inset 0 0 10px black;
  font-weight: 600;
  transition: 0.2s all;
  width: auto;
  padding: 2px 10px;
  font-size: clamp(12px, 1vw, 14px);
  margin-left: 85%;
  border: rgb(110, 106, 106) 1px solid;
  border-radius: 30px;
  cursor: pointer;

  &:hover {
    content: "fff";
    background-color: #f18a40;
    box-shadow: inset 0 0 10px #743458fa,
      inset 0 0 5px #000000;
    border: #743458fa 1px solid;
    transition: 0.2s all;
  }
}

.intro_margin {
  position: fixed;
  text-align: justify;
  box-shadow: #23272a 0 0 10px 5px;
  background-color: #23272a;
  top: 7.5vh;
  padding: 1vh 7vh;
  line-height: 1.3;
  z-index: 2;
}

.line {
  height: 2px;
  width: 100%;
  background: #23272a;
  margin: 5vh 0 3vh 0;
}

.resumé {
  transition: all 0.3s ease-in-out;
  padding-bottom: 2rem;
  min-height: 100vh;
  position: relative;
  color: antiquewhite;
  font-weight: 400;
  text-shadow: 0 0 4px rgb(44, 17, 21), 3px 3px 5px rgba(39, 39, 39, 0.9);

  &__actual {
    padding: 40px 15px;
    margin: 45vh auto 7vh;
    width: 70%;
    background: #494e50;
    outline: 3px solid #494e50;
    outline-offset: 5px;
  }

  &__span {
    margin-left: 5%;
    font-size: small;
    color: rgb(148 147 247);
  }

  &_link {
    text-shadow: none;
    text-decoration: underline;
    font-weight: normal;

    a {
      color: #ef7f31;
      text-decoration: underline #ef7f31 1px;
    }

    a:visited {
      color: rgb(203, 202, 243);
      text-decoration: underline rgb(203, 202, 243);
    }

    a:hover {
      color: #ff6b6b;
      text-decoration: underline #ff6b6b;
    }
  }

  p {
    color: #ef7f31;
    text-align: justify;
    margin: 0 0 1rem 2rem;
    line-height: 1.2em;
  }

  h3 {
    padding: 0.5rem;
    background-color: #23272a;
    width: 100%;
    height: auto;
    font-weight: 600;
    color: rgb(237, 112, 25);
    filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
    text-shadow: -1px -1px 0 rgb(20, 20, 20), 1px -1px rgb(20, 20, 20), 2px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
    z-index: -1;
  }

  ul {
    list-style: square;
    margin-left: 40px;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
    font-size: clamp(10px, 2vw, 15px);
  }
}

.section_content {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.6s ease-in-out;
}

.job_content {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.6s ease-in-out;
}

.scroll_fade {
  transform: translateY(0);
  opacity: 1;
  scale: 1;
}

.sub_design {
  width: 100%;
  font-weight: 400;
  font-size: small;
  color: antiquewhite;
  text-shadow: none;
}

.position_design {
  margin: -1rem 0 .5rem 1rem;
  padding: 1rem;
  background-color: #383838;
  filter: drop-shadow(3px 3px 2px rgb(29, 18, 3));
  width: auto;
  height: auto;
  font-weight: 600;
  color: rgb(255, 106, 0);
  text-shadow: -1px -1px 0 rgb(20, 20, 20), 1px -1px rgb(20, 20, 20), 2px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
  z-index: -1;
}