.resumé {
	@include social_icons_vertical;
	@include transition-ease;
	height: 100%;
}

.resumé__actual {
  padding: 20px 5px;
  color: white;
  margin: 15vh auto;
  width: 60%;
  background: rgb(65, 65, 65);
  outline: 3px solid rgb(65, 65, 65);
  outline-offset: 5px;
}