@include media-smh {
	.home__top {
		margin-top: 5vh;
		height: 29vh;
		font-size: smaller;
	}

	.home__name {
		margin-top: -1.5vh;
	}

	.home__bottom {
		margin-top: 2vh;
		font-size: small;
	}
}

@include media-sm {
	.home__top {
		margin-top: 23vh;
	}

	.home__name {
		margin-top: 0vh;
	}

	.home_ .social-icons {
		flex-direction: row;
	}

	.contact .social-icons {
		flex-direction: row;
	}

	.progress_line {
		background-size: 14px;
	}

	.thin {
		transform: rotate(0deg) translate(0, 0);
	}

	.story__link {
		text-shadow: none;
		width: 75px;
		padding: 5px 10px;
	}

	.resumé__actual {
		margin: 34vh auto 7vh;
	}

	.skills__graph {
		font-size: clamp(1px, 3vw, 32px);
		height: 100px;
		width: 100px;
		margin-top: -7%;
		transform: translateY(0%);
	}

	.skills__graph::after {
		transform: translate(10px, 9.5px);
	}

	.video-player {
		width: 370px;
	}
}

@include media-md {
	.home__name {
		margin-top: -2vh;
	}

	.intro_mask {
		margin-top: 0vh;
		height: 15vh;
	}

	.intro_margin {
		top: 15vh;
	}

	.resume ul {
		margin-left: 80px;
	}

	.resume__actual {
		width: 60%;
	}

	.menu-btn {
		visibility: hidden;
	}

	.nav {
		visibility: visible;
		width: 80vw;
		max-width: 684px;
	}

	.nav .menu-nav {
		display: block;
		transform: translateY(0);
		height: 100%;
		background: transparent;
		text-align: left;
	}

	.nav .menu-nav__item {
		display: inline;
		padding-right: 1.5rem;
	}

	.nav .menu-nav__link {
		text-shadow: none;
		font-size: 1.5rem;
	}

	.about__bio {
		font-size: 1.5em;
	}

	.about__bio .text-secondary:first-child {
		margin-top: 12vh;
	}

	.projects__items {
		grid-template-columns: repeat(2, 1fr);
	}

	.projects .text-secondary {
		font-size: 3rem;
	}

	.projects__items {
		margin-top: 40vh;
	}

	.skills__graph {
		margin-top: -6%;
		transform: translateY(-4%);
	}

	.skills__graph__box {
		padding: 50px 0;
	}

	#video {
		margin-top: -1vh;
	}

	.video-player {
		margin-bottom: -12.5vh;
	}
}

@include media-lg {
	.home__top {
		margin-top: 17vh;
		height: 29vh;
		font-size: larger;
	}

	.home__name {
		margin-top: 9vh;
	}

	.projects__items {
		grid-template-columns: repeat(3, 1fr);
		margin-top: 50vh;
		min-height: 30vh;
	}

	#skill_readout_percent {
		padding-top: 7px;
	}


	.contact__list {
		grid-template-columns: repeat(3, 1fr);
	}

	.skills__graph {
		margin-top: 0%;
		transform: translateY(-11%);
	}
}


@include media-xl {
	.projects {
		max-height: 100vh;
	}

	.projects__items {
		min-height: 40vh;
	}
}