.story {
	position: relative;
	isolation: isolate;
	max-height: 100vh;
	width: 100%;

	& table,
	tr,
	td {
		border: 3px solid rgba(65, 65, 65, 0.7);
		margin: 0 auto;
		padding: 4px;
	}

	& tr:nth-child(even) {
		background-color: rgba(38, 38, 38, .5);
	}

	& tr:nth-child(odd) {
		background-color: rgba(110, 109, 109, .5);
	}

	&__link {
		text-shadow: none;
		color: rgb(0, 0, 0);
		border-radius: 20px;
		text-align: center;
		height: auto;
		width: 50px;
		padding: 3px 7px;
		background-color: #ed7019;
		box-shadow: inset 0 0 10px black;
		font-weight: 600;
		transition: .2s all;
		bottom: 0;
		position: fixed;

		&__link:hover {
			scale: 1.1;
			border: #000000 solid 1px;
		}

		a {
			color: black;

			&::after {
				content: "";
				position: fixed;
				inset: 0;
				background-image: url('/Portfolio2021/dist/img/tea.png');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				background-attachment: fixed;
				opacity: .3;
				z-index: -1;
				height: 300vh;
				width: 100%;
			}

		}
	}
}

.story_content p {
	color: rgb(241, 226, 206);
	display: flex;
	line-height: initial;
	padding: 20px 15px;
	margin: 10vh auto 5vh;
	width: 75%;
	background: rgba(65, 65, 65, 0.5);
	outline: 3px solid rgba(65, 65, 65, 0.7);
	outline-offset: 5px;
	text-shadow: -1px -1px 0 rgb(20, 20, 20), 1px -1px rgb(20, 20, 20), 2px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
	font-weight: 600;
}