@import 'config';
@import 'menu';
@import 'home';
@import 'about';
@import 'skills';
@import 'projects';
@import 'story';
@import 'contact';
@import 'resumé';
@import 'responsive';

body,
html {
    background: $primary-color;
    color: set-text-color($primary-color);
    max-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
    user-select: none;

    &::-webkit-scrollbar {
        width: 20px;

        &-thumb {
            background-color: #ef7f31;
            box-shadow: inset 0 0 10px black;
            border-radius: 20px;
            border: 1px solid transparent;
            background-clip: content-box;
            border: 2px solid #23272a;
        }

        &-track {
            background: #23272a;
        }
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 400;
    margin-bottom: 1em;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
    text-shadow: none;
}

.text-secondary {
    color: $secondary-color;
    text-shadow:
        -1px -1px 0 rgba($primary-color, .4),
        1px -1px 0 rgba($primary-color, .4),
        -1px 1px 0 rgba($primary-color, .4),
        1px 1px 0 rgba($primary-color, .4);
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
    height: 88px;
}

main {
    top: 88px;
    height: 100%;
    width: 100%;

    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        font-size: clamp(10px, 2vw, 15px);

        a {
            padding: 0.4rem;
            @include transition-ease;

            &:hover {
                color: $secondary-color;
            }
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: .4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: antiquewhite;
    transform: rotate(90deg) translate(-3rem, -5rem);
}

.orange-line {
    top: 46.3vh;
    height: 3px;
    width: 100%;
    background-color: #ef7f31;
}

button {
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    font-size: clamp(10px, 2vw, 15px);
}