@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  overflow: hidden;
  align-items: center;
  text-align: center;
}
.home__photo {
  height: 50vh;
}
.home__top {
  margin-top: 30vh;
  height: 20vh;
  border-bottom: 3px solid #ed7019;
  margin-bottom: 3rem;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.home__name {
  font-size: clamp(40px, 10vw, 5rem);
  padding-bottom: 1rem;
  margin-bottom: 7rem;
}
.home__name--last {
  color: #ed7019;
  font-weight: 700;
}
.home__bottom {
  padding-top: 1rem;
  align-items: center;
  text-align: center;
}

.logo {
  width: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: antiquewhite;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: antiquewhite;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: antiquewhite;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  opacity: 0.98;
  visibility: hidden;
  background: black;
  text-shadow: 3px 3px 2px #000000;
}
.nav.open {
  visibility: visible;
  margin-left: -20px;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at -50% 152%, #FFF506 33%, #FF5D00 40%, #E32D04 44%, #272727 60%, #272727 100%);
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #ed7019;
}
.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.nav .menu-nav__link:after {
  position: absolute;
  content: "";
  display: block;
  width: 0%;
  height: 0;
  border-bottom: 2px solid #ed7019;
  background: rgb(247, 243, 39);
  transition: width 0.3s ease-in-out;
}
.nav .menu-nav__link:hover:after {
  width: 100%;
  height: 1px;
}
.nav .menu-nav__link:visited {
  color: rgb(148, 147, 247);
  -webkit-text-decoration: underline rgb(148, 147, 247);
          text-decoration: underline rgb(148, 147, 247);
  background-color: rgba(99, 88, 88, 0.904);
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav__item:nth-child(5) {
  transition-delay: 0.65s;
}

.about {
  transition: all 0.3s ease-in-out;
  padding-bottom: 2rem;
  min-height: 100vh;
  position: relative;
  color: white;
  font-weight: 400;
  text-shadow: 0 0 4px rgb(44, 17, 21), 3px 3px 5px rgba(39, 39, 39, 0.9);
}
.about__bio-image {
  background: rgb(65, 65, 65);
  position: fixed;
  top: 0;
  height: 50vh;
  width: 100%;
  z-index: 1;
}
.about__bio-image p {
  margin-bottom: 1rem;
  line-height: 1.2em;
}
.about__bio-image p:first-child {
  margin-top: -1vh;
}
.about__bio-image p a {
  -webkit-text-decoration: underline #f39f10 2px;
          text-decoration: underline #f39f10 2px;
  background-color: rgba(99, 88, 88, 0.904);
  font-weight: normal;
}
.about__bio-image p a:visited {
  color: rgb(236, 59, 59);
  -webkit-text-decoration: underline rgb(236, 59, 59);
          text-decoration: underline rgb(236, 59, 59);
}
.about__bio-image p a:hover {
  color: rgb(247, 179, 123);
  -webkit-text-decoration: underline rgb(247, 179, 123);
          text-decoration: underline rgb(247, 179, 123);
}
.about__bio-image .orange-line {
  top: 60vh;
  height: 5px;
  width: 100%;
  background-color: #ed7019;
}
.about__bio-image .gray-line {
  height: 10px;
  width: 100%;
  background: #272727;
}
.about__bio {
  min-height: 50vh;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  overflow: auto;
}
.about__bio::-webkit-scrollbar {
  width: 15px;
}
.about__bio::-webkit-scrollbar-thumb {
  background-color: #ed7019;
  box-shadow: inset 0 0 7px #000000;
  border-radius: 5px;
  border: 2px solid #3c4923;
  background-clip: content-box;
}
.about__bio::-webkit-scrollbar-track {
  background: rgb(65, 65, 65);
}
.about__bio .text-secondary {
  padding-bottom: 0.75rem;
  font-size: clamp(40px, 10vw, 10px);
  text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(61, 56, 145);
}
.about__bio .text-secondary:first-child {
  margin-top: 7vh;
}
.about .bottom {
  position: relative;
  margin-top: 54vh;
}
.about .bottom .jobs {
  width: 60vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .bottom .jobs__job {
  background: #414141;
  padding: 0.5rem;
  border-bottom: 5px solid #ed7019;
  outline: 3px solid #414141;
  outline-offset: 5px;
}
.about .bottom .jobs__job h2,
.about .bottom .jobs__job h3 {
  margin: 0.6rem 0;
}
.about .bottom .jobs__job h6 {
  margin: 0.4rem 0;
  color: #f0853a;
  letter-spacing: 0.3px;
}

.projects {
  padding-bottom: 2rem;
}
.projects__bio-image {
  min-height: 50vh;
  width: 100%;
  background: #272727;
  background-size: cover;
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}
.projects .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: -1px -1px 0 rgba(39, 39, 39, 0.7), 1px -1px 0 rgba(39, 39, 39, 0.7), -1px 1px 0 rgba(39, 39, 39, 0.7), 1px 1px 0 rgba(39, 39, 39, 0.7);
}
.projects .orange-line {
  top: 50vh;
  height: 5px;
  width: 100%;
  background-color: #ed7019;
}
.projects .gray-line {
  top: 50vh;
  height: 10px;
  width: 100%;
  background: #272727;
}
.projects .bottom {
  top: 0%;
  position: relative;
  margin-top: 50vh;
}
.projects__items {
  min-height: 40vh;
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.projects__item {
  position: relative;
  border-bottom: 5px solid #ed7019;
  overflow: hidden;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ed7019;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects__item:hover .projects__btn {
  opacity: 1;
}
.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.projects__btn {
  opacity: 0;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.projects__btn:hover {
  color: antiquewhite;
}

.resumé {
  transition: all 0.3s ease-in-out;
  padding-bottom: 2rem;
  min-height: 100vh;
  position: relative;
  color: white;
  font-weight: 400;
  text-shadow: 0 0 4px rgb(44, 17, 21), 3px 3px 5px rgba(39, 39, 39, 0.9);
}
.resumé__resumé-image {
  position: fixed;
  background: rgb(65, 65, 65);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.resumé__resumé-image p {
  margin-bottom: 1rem;
  line-height: 1.2em;
}
.resumé__resumé-image p:first-child {
  margin-top: -1vh;
}
.resumé__resumé-image p a {
  -webkit-text-decoration: underline #f39f10 2px;
          text-decoration: underline #f39f10 2px;
  background-color: rgba(99, 88, 88, 0.904);
  font-weight: normal;
}
.resumé__resumé-image p a:visited {
  color: rgb(236, 59, 59);
  -webkit-text-decoration: underline rgb(236, 59, 59);
          text-decoration: underline rgb(236, 59, 59);
}
.resumé__resumé-image p a:hover {
  color: rgb(247, 179, 123);
  -webkit-text-decoration: underline rgb(247, 179, 123);
          text-decoration: underline rgb(247, 179, 123);
}

.resumé__actual {
  position: fixed;
  padding: 20px 5px;
  color: white;
  margin: 15vh auto;
  width: 60%;
  background: rgb(65, 65, 65);
  outline: 3px solid rgb(65, 65, 65);
  outline-offset: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact {
  height: 100%;
  padding-top: 42vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.contact h2 {
  margin-top: -10vh;
  font-size: 3rem;
  margin-bottom: 5rem;
  text-shadow: -1px -1px 0 rgba(39, 39, 39, 0.1), 1px -1px 0 rgba(39, 39, 39, 0.1), -1px 1px 0 rgba(39, 39, 39, 0.1), 1px 1px 0 rgba(39, 39, 39, 0.1);
}
.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}

@media screen and (min-width: 650px) {
  .thin {
    transform: rotate(0deg) translate(0, 0);
  }
  .social-vertical {
    flex-direction: row;
  }
  .about__bio .text-secondary {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    width: 80vw;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: left;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .about__bio {
    font-size: 1.5em;
  }
  .about__bio .text-secondary:first-child {
    margin-top: 12vh;
  }
  .projects__bio-image {
    height: 40vh;
  }
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .projects__items {
    margin-top: 40vh;
  }
  .contact__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50vh;
    min-height: 30vh;
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1600px) {
  .projects {
    max-height: 100vh;
  }
  .projects__bio-image {
    max-height: 40vh;
  }
}
body,
html {
  background: #272727;
  color: antiquewhite;
  max-height: 121vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: #464646;
  box-shadow: inset 0 0 7px #000000;
  border-radius: 10px;
  border: 2px solid rgb(38, 49, 37);
  background-clip: content-box;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: #262626;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: antiquewhite;
  text-decoration: none;
}

.text-secondary {
  color: #ed7019;
  text-shadow: -1px -1px 0 rgba(39, 39, 39, 0.4), 1px -1px 0 rgba(39, 39, 39, 0.4), -1px 1px 0 rgba(39, 39, 39, 0.4), 1px 1px 0 rgba(39, 39, 39, 0.4);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  height: 88px;
}

main {
  top: 88px;
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: clamp(10px, 3vw, 15px);
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}
main .social-icons a:hover {
  color: #ed7019;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: antiquewhite;
  transform: rotate(90deg) translate(-3rem, -5rem);
}/*# sourceMappingURL=main.css.map */