@charset "UTF-8";
.menu-btn {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: antiquewhite;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: antiquewhite;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: antiquewhite;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
  opacity: 0.98;
  visibility: hidden;
  background: black;
  text-shadow: 3px 3px 2px #5e5d5d;
  z-index: 20;
}
.nav.open {
  visibility: visible;
  margin-left: -20px;
}
.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle at -50% 152%, #FFF506 33%, #FF5D00 40%, #E32D04 44%, #23272a 60%, #23272a 100%);
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateY(0);
}
.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateX(0);
}
.nav .menu-nav__item.active > a {
  color: #ef7f31;
}
.nav .menu-nav__link {
  text-shadow: none;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.nav .menu-nav__link:after {
  position: absolute;
  content: "";
  display: block;
  width: 0%;
  height: 0;
  border-bottom: 2px solid #ef7f31;
  background: rgb(247, 243, 39);
  transition: width 0.3s ease-in-out;
}
.nav .menu-nav__link:hover:after {
  width: 100%;
  height: 1px;
}
.nav .menu-nav__link:visited {
  text-shadow: none;
  color: rgb(148, 147, 247);
  -webkit-text-decoration: underline #7119ed;
          text-decoration: underline #7119ed;
  background-color: rgba(98, 98, 98, 0.5);
}

.logo {
  width: 20px;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.menu-nav__item:nth-child(5) {
  transition-delay: 0.65s;
}

.home {
  margin-top: 88px;
  overflow: hidden;
  align-items: center;
  text-align: center;
}
.home__photo {
  background: #23272a;
  background-size: contain;
  position: relative;
}
.home__top {
  margin-top: 23.8vh;
  height: 20vh;
  -webkit-animation: fade__up 1.5s forwards ease-in-out;
          animation: fade__up 1.5s forwards ease-in-out;
}
.home__name {
  font-size: clamp(40px, 10vw, 5rem);
  padding-bottom: 1rem;
  margin-bottom: 7rem;
  -webkit-animation: fade__up 1.5s forwards ease-out;
          animation: fade__up 1.5s forwards ease-out;
}
.home__name--last {
  color: #ef7f31;
  font-weight: 700;
}
.home__bottom {
  margin-top: 3vh;
  align-items: center;
  text-align: center;
  font-size: clamp(20px, 3vw, 30px);
}
.home_ .social-icons {
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 2vw, 15px);
}

@-webkit-keyframes fade__up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade__up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.about {
  transition: all 0.3s ease-in-out;
  padding-bottom: 2rem;
  min-height: 100vh;
  position: relative;
  color: antiquewhite;
  font-weight: 400;
  text-shadow: 0 0 4px rgb(44, 17, 21), 3px 3px 5px rgba(35, 39, 42, 0.9);
}
.about__bio-image {
  background: #494e50;
  position: fixed;
  top: 0;
  height: 49vh;
  width: 100%;
  z-index: 10;
}
.about__bio-image p {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2em;
}
.about__bio-image p:first-child {
  margin-top: -1vh;
}
.about__bio-image p a {
  -webkit-text-decoration: underline #ef7f31 1px;
          text-decoration: underline #ef7f31 1px;
}
.about__bio-image p a:visited {
  color: rgb(203, 202, 243);
  -webkit-text-decoration: underline rgb(148, 147, 247);
  text-decoration: underline rgb(148, 147, 247);
}
.about__bio-image p a:hover {
  color: #ff6b6b;
  -webkit-text-decoration: underline #ff6b6b;
          text-decoration: underline #ff6b6b;
}
.about__bio-image .orange-line {
  top: 49vh;
  height: 3px;
  width: 100%;
  background-color: #ef7f31;
}
.about__bio-image .gray-line {
  height: 5px;
  width: 100%;
  background: #23272a;
}
.about__bio-image .gray-line1 {
  height: 5px;
  width: 100%;
  background: #494e50;
}
.about__bio {
  height: 49vh;
  width: 100%;
  text-align: center;
  font-size: clamp(1.3rem, 2vw, 2rem);
  padding: 1rem 2rem;
  overflow: auto;
}
.about__bio::-webkit-scrollbar {
  width: 15px;
}
.about__bio::-webkit-scrollbar-thumb {
  background-color: #494e50;
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  border: 2px solid rgb(38, 49, 37);
  background-clip: content-box;
}
.about__bio::-webkit-scrollbar-track {
  background: #494e50;
}
.about__bio .text-secondary {
  padding-bottom: 2rem;
  font-size: clamp(1.7rem, 2vw, 2rem);
  text-shadow: 3px 3px 4px rgb(46, 19, 0), 4px 4px 1px rgb(0, 0, 0);
}
.about__bio .text-secondary p {
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
}
.about__bio .text-secondary:first-child {
  margin-top: 7vh;
}
.about .bottom {
  position: relative;
  margin-top: 62vh;
  bottom: 6vh;
}
.about .bottom .jobs {
  width: 60vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}
.about .bottom .jobs__job {
  background: #494e50;
  padding: 0.5rem;
  border-bottom: 3px solid #ef7f31;
  outline: 3px solid #494e50;
  text-shadow: -1px -1px 0 rgb(20, 20, 20), 1px -1px rgb(20, 20, 20), 2px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
  outline-offset: 5px;
}
.about .bottom .jobs__job h2 {
  text-shadow: 3px 3px 4px rgb(46, 19, 0), 4px 4px 1px rgb(27, 27, 27);
  margin: 0.6rem 0;
}
.about .bottom .jobs__job h3 {
  margin: 0.6rem 0;
}
.about .bottom .jobs__job h6 {
  margin: 0.4rem 0;
  color: #f18e49;
  letter-spacing: 0.3px;
}
.about .social-icons {
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 2vw, 15px);
}

#arrow1 {
  opacity: 0;
  color: #26d1e8;
  font-size: large;
  margin-bottom: 10px;
  -webkit-animation: arrow 2.5s infinite ease;
  animation: arrow 2s 1s infinite ease;
}

#arrow2 {
  opacity: 0;
  color: #26d1e8;
  font-size: large;
  margin-bottom: 10px;
  -webkit-animation: arrow 2.5s infinite ease;
  animation: arrow 2s infinite ease;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(100%, -5px);
  }
  50% {
    opacity: 1;
    transform: translate(-100%, -5px);
  }
  100% {
    opacity: 0;
    transform: translate(-100%, -5px);
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(100%, -5px);
  }
  50% {
    opacity: 1;
    transform: translate(-100%, -5px);
  }
  100% {
    opacity: 0;
    transform: translate(-100%, -5px);
  }
}
.skills {
  background: #494e50;
  border: 3px #494e50 solid;
  outline: 3px solid #494e50;
  outline-offset: 5px;
  display: flex;
  position: relative;
  border-bottom: 3px solid #ef7f31;
}
.skills__tech-side {
  color: #00ff95;
  width: 55%;
  display: flex;
  background: repeating-linear-gradient(45deg, rgba(12, 12, 12, 0.7607843137), rgba(36, 35, 35, 0.726), rgba(63, 63, 63, 0.8823529412), transparent, rgba(41, 41, 41, 0.8823529412), rgba(22, 22, 22, 0.8470588235));
  padding: 0 0.5rem;
  padding-bottom: 10px;
  font-size: clamp(9px, 2vw, 20px);
  text-shadow: -1px -1px 0 rgb(128, 126, 126), 1px -1px rgb(20, 20, 20), 2px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
}
.skills__graph {
  display: flex;
  position: relative;
  font-size: 10px;
  height: 49px;
  width: 49px;
  margin-top: 20%;
  padding-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid rgba(31, 31, 31, 0.9647058824);
  transform: translateY(-50%);
  border-radius: 50%;
  background: conic-gradient(#0f1312 0deg, transparent 0deg);
  box-shadow: -6px 6px 5px -1px rgb(0, 0, 0), 3px -3px 3px -1px rgba(194, 169, 121, 0.42), 6px -6px 10px -1px rgba(219, 186, 137, 0.45);
}
.skills__graph::after {
  content: "";
  transform: translate(4.5px, 4.4px);
  position: absolute;
  box-shadow: inset -6px 6px 10px -1px rgb(0, 0, 0), inset 6px -6px 5px -1px rgba(238, 210, 158, 0.16), inset 6px -6px 20px -1px rgba(146, 125, 83, 0.5490196078);
  height: 80%;
  width: 80%;
  background: radial-gradient(circle, rgb(49, 42, 35) 0%, #2b2a2a 50%, #000000 100%);
  border-radius: 50%;
  z-index: -2;
}
.skills__graph-side {
  display: flex;
  position: absolute;
  background: repeating-linear-gradient(45deg, rgba(32, 32, 32, 0.9), transparent, rgba(65, 65, 65, 0.4), rgba(32, 32, 32, 0.85));
  width: 44%;
  right: 0;
  height: 100%;
  padding: 5px;
}
.skills__graph__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0;
  align-items: center;
  background: radial-gradient(circle, rgb(70, 63, 53) 0%, rgba(3, 4, 16, 0.9019607843) 100%);
  border: 4px solid rgba(163, 143, 102, 0.65);
  border-left: 8px solid #111111;
  border-bottom: 8px solid #000000;
  margin: auto;
  margin-top: 0;
}

.graph__words {
  color: #58e7bc;
  font-size: clamp(14px, 3vw, 24px);
}

.grid__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1.75fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 1.25fr 0.25fr;
}

.curved__line {
  display: flex;
  height: 100%;
  width: 7px;
  background: repeating-linear-gradient(110deg, transparent 10px, #021af5 10px, #8fcf17 20px);
  border: #494e50 solid 2px;
  transform: translateX(13px);
  border-radius: 50%;
  z-index: 1;
}

#skill_readout_percent {
  display: flex;
  color: #7affed;
  font-size: clamp(10px, 2vw, 24px);
  margin: auto;
  padding-top: 10px;
  height: 20px;
  text-shadow: -4px 4px 2px black;
  display: hidden;
}

#skill_readout_label {
  display: flex;
  color: #7affed;
  height: 20px;
  padding-top: 10px;
  font-size: clamp(10px, 2vw, 24px);
  text-shadow: -4px 4px 2px black;
}

#equation {
  position: absolute;
  left: 2vh;
  bottom: 1vh;
  justify-content: center;
  font-size: clamp(6px, 2vw, 28px);
}

.progress_line {
  height: 4px;
  font-size: 12px;
  color: #17ffa6;
  background: linear-gradient(to right, #000000 2px, transparent 2px), linear-gradient(to top, #17ffa6 1px, rgba(2, 225, 255, 0.6) 2px);
  background-size: 8px;
}
.progress_line::before {
  content: attr(data-percent) "%";
  height: 12px;
  width: 23px;
  display: inline-block;
  padding: 5px;
  color: white;
  font-size: clamp(12px, 1vw, 32px);
  font-weight: 400;
}

input[type=radio] {
  opacity: 0;
  width: 100%;
  border: none;
  transform: translateY(15px);
  cursor: pointer;
}

.grid__container {
  margin-top: -10px;
}

.skill__items {
  transition: all 0.3s ease;
}
.skill__items:hover {
  color: #ffffff;
}

.projects {
  padding-bottom: 2rem;
}
.projects__bio-image {
  height: 54vh;
  width: 100%;
  background: #494e50;
  background-size: cover;
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}
.projects .text-secondary {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.7), 1px -1px rgb(0, 0, 0), 2px -1px 0 rgba(27, 27, 27, 0.7), -1px 1px 0 rgba(0, 0, 0, 0.7), 1px 1px 0 rgba(39, 39, 39, 0.7);
}
.projects .orange-line {
  top: 35vh;
  height: 3px;
  width: 100%;
  background-color: #ef7f31;
}
.projects .gray-line {
  top: 35vh;
  height: 5px;
  width: 100%;
  background: #23272a;
}
.projects .bottom {
  top: 0%;
  position: relative;
  margin-top: 57vh;
}
.projects__items {
  min-height: 40vh;
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.projects__item {
  position: relative;
  border-bottom: 3px solid #ef7f31;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.projects__item img {
  width: 100%;
}
.projects__item::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ef7f31;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.projects__item:hover::after {
  top: 0;
  opacity: 0.9;
}
.projects__item:hover .projects__btn {
  opacity: 1;
}
.projects__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.projects__btn {
  opacity: 0;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.projects__btn:hover {
  color: antiquewhite;
}
.projects .social-icons {
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 2vw, 15px);
}

.project__greeting {
  font-weight: 600;
  letter-spacing: -1.3px;
  margin-bottom: 1rem;
}
.project__greeting span {
  opacity: 0;
  display: inline-block;
  -webkit-animation: letter_line 4s forwards linear;
          animation: letter_line 4s forwards linear;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}

@-webkit-keyframes letter_line {
  0% {
    transform: translateX(1000%);
    opacity: 0;
    scale: 2;
  }
  5% {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
  95% {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateX(-1000%);
    opacity: 0;
    scale: 2;
  }
}

@keyframes letter_line {
  0% {
    transform: translateX(1000%);
    opacity: 0;
    scale: 2;
  }
  5% {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
  95% {
    transform: translateX(0);
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translateX(-1000%);
    opacity: 0;
    scale: 2;
  }
}
.video-player {
  align-items: center;
  justify-content: center;
  width: 480px;
}

#video {
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: contain;
  margin-bottom: -7vh;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: hidden;
}

.video-close {
  opacity: 0;
  margin-left: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.projects__btns input[type=radio] {
  cursor: pointer;
  transform: translateY(-7px);
  opacity: 0;
}

.projects__btn .fas.fa-eye {
  transform: translate(4px, 7.3px);
  transition: all 0.3s ease-in-out;
  width: 100%;
  cursor: pointer;
}

.projects__btn .fas.fa-eye:hover {
  color: antiquewhite;
}

.story {
  position: relative;
  isolation: isolate;
  max-height: 100vh;
  width: 100%;
}
.story table,
.story tr,
.story td {
  margin: 0 auto;
  padding: 4px;
}
.story::after {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/Portfolio2021/dist/img/tea.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
  height: 300vh;
  width: 100%;
}
.storyProjectName {
  color: rgb(238, 151, 38);
  font-style: italic;
  cursor: pointer;
  -webkit-text-decoration: underline rgb(255, 136, 0);
          text-decoration: underline rgb(255, 136, 0);
  transition: all 0.3s ease-in-out;
}
.storyProjectName:visited {
  color: rgb(255, 208, 147);
  -webkit-text-decoration: underline rgb(255, 208, 147);
          text-decoration: underline rgb(255, 208, 147);
}
.storyProjectName:hover {
  color: rgb(243, 68, 14);
  -webkit-text-decoration: underline rgb(255, 60, 0);
          text-decoration: underline rgb(255, 60, 0);
}
.story_content {
  height: 100%;
  border: 1px solid transparent;
}
.story_content p {
  background-color: rgba(77, 77, 77, 0.5);
  color: antiquewhite;
  line-height: initial;
  padding: 20px 15px;
  margin: 7vh auto;
  width: 75%;
  outline: 3px solid rgba(77, 77, 77, 0.5);
  outline-offset: 5px;
  text-shadow: -1px -1px 0 rgb(20, 20, 20), 1px -1px rgb(20, 20, 20), 2px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
  font-weight: 400;
}
.story_content p:first-child {
  display: flex;
  justify-content: center;
  border: 2px solid rgba(79, 79, 79, 0.55);
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.story tr:nth-child(even) {
  background-color: rgba(35, 39, 42, 0.5);
  color: rgb(238, 151, 38);
}
.story tr:nth-child(odd) {
  background-color: rgba(79, 79, 79, 0.55);
  color: antiquewhite;
}
.story .lighter {
  border: 2px solid rgba(79, 79, 79, 0.356);
  background-color: rgba(35, 39, 42, 0.5);
  color: rgb(238, 151, 38);
}
.story__link {
  text-shadow: none;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  text-align: center;
  padding: 4px 15px;
  padding-bottom: 6px;
  background-color: #ef7f31;
  box-shadow: inset 0 0 10px black;
  font-weight: 600;
  transition: 0.2s all;
  bottom: 0;
  position: fixed;
  margin: 10px;
}
.story__link:hover {
  scale: 1.1;
  border: hsla(265deg, 85%, 51%, 0.9) solid 1px;
}
.story__link a {
  font-size: clamp(12px, 3vw, 16px);
  padding-bottom: 10px;
  text-shadow: none;
  color: rgb(0, 0, 0);
}

.table_story {
  border: 3px solid rgba(77, 77, 77, 0.5);
  margin: 0 auto;
  padding: 3px;
  width: 60%;
}
.table_story td,
.table_story tr {
  line-height: normal;
  padding: 10px;
}
.table_story td:first-child {
  border-right: 3px rgb(35, 39, 42) solid;
}

#storyHeart {
  color: rgba(252, 44, 44, 0.86);
  font-size: 17px;
  position: relative;
  top: 2px;
}

.contact {
  height: 100%;
  padding-top: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.contact h2 {
  margin-top: -10vh;
  font-size: 3rem;
  margin-bottom: 5rem;
  text-shadow: -1px -1px 0 rgba(35, 39, 42, 0.1), 1px -1px 0 rgba(35, 39, 42, 0.1), -1px 1px 0 rgba(35, 39, 42, 0.1), 1px 1px 0 rgba(35, 39, 42, 0.1);
}
.contact__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  font-size: 1.5rem;
}
.contact .social-icons {
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 2vw, 15px);
}

.intro_mask {
  position: fixed;
  background-color: #23272a;
  top: 0vh;
  height: 8vh;
  width: 100%;
  z-index: 2;
}

.intro_margin {
  position: fixed;
  top: 8vh;
  padding: 20px;
  padding-right: 0;
  height: auto;
  background-color: #23272a;
  z-index: 2;
}

.line {
  height: 2px;
  width: 100%;
  background: #23272a;
  margin: 5vh 0 3vh 0;
}

.resumé {
  transition: all 0.3s ease-in-out;
  padding-bottom: 2rem;
  min-height: 100vh;
  position: relative;
  color: antiquewhite;
  font-weight: 400;
  text-shadow: 0 0 4px rgb(44, 17, 21), 3px 3px 5px rgba(39, 39, 39, 0.9);
}
.resumé__actual {
  padding: 40px 15px;
  margin: 34vh auto 7vh;
  width: 70%;
  background: #494e50;
  outline: 3px solid #494e50;
  outline-offset: 5px;
}
.resumé_link {
  text-shadow: none;
  text-decoration: underline;
  font-weight: normal;
}
.resumé_link a {
  color: #ef7f31;
  -webkit-text-decoration: underline #ef7f31 1px;
          text-decoration: underline #ef7f31 1px;
}
.resumé_link a:visited {
  color: rgb(203, 202, 243);
  -webkit-text-decoration: underline rgb(203, 202, 243);
          text-decoration: underline rgb(203, 202, 243);
}
.resumé_link a:hover {
  color: #ff6b6b;
  -webkit-text-decoration: underline #ff6b6b;
          text-decoration: underline #ff6b6b;
}
.resumé p {
  color: #ef7f31;
  text-align: justify;
  margin: 0 0 1rem 2rem;
  line-height: 1.2em;
}
.resumé h3 {
  padding: 0.5rem;
  background-color: #23272a;
  width: 100%;
  height: auto;
  font-weight: 600;
  color: rgb(237, 112, 25);
  filter: drop-shadow(3px 3px 2px rgb(0, 0, 0));
  text-shadow: -1px -1px 0 rgb(20, 20, 20), 1px -1px rgb(20, 20, 20), 2px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
  z-index: -1;
}
.resumé ul {
  list-style: square;
  margin-left: 40px;
}
.resumé .social-icons {
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 2vw, 15px);
}

.section_content {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.6s ease-in-out;
}

.job_content {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.6s ease-in-out;
}

.scroll_fade {
  transform: translateY(0);
  opacity: 1;
  scale: 1;
}

.sub_design {
  width: 100%;
  font-weight: 400;
  font-size: small;
  color: antiquewhite;
  text-shadow: none;
}

.position_design {
  margin: -1rem 0 0.5rem 1rem;
  padding: 1rem;
  background-color: #383838;
  filter: drop-shadow(3px 3px 2px rgb(29, 18, 3));
  width: auto;
  height: auto;
  font-weight: 600;
  color: rgb(255, 106, 0);
  text-shadow: -1px -1px 0 rgb(20, 20, 20), 1px -1px rgb(20, 20, 20), 2px -1px 0 rgb(20, 20, 20), -1px 1px 0 rgb(20, 20, 20), 1px 1px 0 rgb(20, 20, 20);
  z-index: -1;
}

@media screen and (max-height: 640px) {
  #video {
    margin-left: 30%;
    margin-bottom: -12vh;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .video-close {
    margin-left: 95%;
  }
  .video-player {
    justify-content: center;
    margin-bottom: -2.5vh;
    margin-right: 30vw;
  }
}
@media screen and (max-height: 500px) {
  .home__top {
    margin-top: 5vh;
    height: 29vh;
    font-size: smaller;
  }
  .home__name {
    margin-top: -1.5vh;
  }
  .home__bottom {
    margin-top: 2vh;
    font-size: small;
  }
}
@media screen and (min-width: 650px) {
  .home__top {
    margin-top: 23vh;
  }
  .home__name {
    margin-top: 0vh;
  }
  .home_ .social-icons {
    flex-direction: row;
  }
  .contact .social-icons {
    flex-direction: row;
  }
  .progress_line {
    background-size: 14px;
  }
  .thin {
    transform: rotate(0deg) translate(0, 0);
  }
  .story__link {
    width: 75px;
    padding: 5px 10px;
  }
  .skills__graph {
    font-size: clamp(1px, 3vw, 32px);
    height: 100px;
    width: 100px;
    margin-top: -7%;
    transform: translateY(0%);
  }
  .skills__graph::after {
    transform: translate(10px, 9.5px);
  }
  .video-player {
    width: 370px;
  }
  #arrow1,
#arrow2 {
    font-size: xx-large;
    margin-bottom: 10px;
  }
  @-webkit-keyframes arrow {
    0% {
      opacity: 0;
      transform: translate(50%, -12px);
    }
    50% {
      opacity: 1;
      transform: translate(-40%, -12px);
    }
    100% {
      opacity: 0;
      transform: translate(-40%, -12px);
    }
  }
  @keyframes arrow {
    0% {
      opacity: 0;
      transform: translate(50%, -12px);
    }
    50% {
      opacity: 1;
      transform: translate(-40%, -12px);
    }
    100% {
      opacity: 0;
      transform: translate(-40%, -12px);
    }
  }
}
@media screen and (min-width: 768px) {
  .home__name {
    margin-top: -2vh;
  }
  .intro_mask {
    margin-top: 0vh;
    height: 15vh;
  }
  .intro_margin {
    top: 15vh;
  }
  .resume ul {
    margin-left: 80px;
  }
  .resume__actual {
    width: 60%;
  }
  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
    width: 80vw;
    max-width: 684px;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: left;
  }
  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }
  .nav .menu-nav__link {
    text-shadow: none;
    font-size: 1.5rem;
    transition: none;
  }
  .about__bio {
    font-size: 1.5em;
  }
  .about__bio .text-secondary:first-child {
    margin-top: 12vh;
  }
  .projects__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .text-secondary {
    font-size: 3rem;
  }
  .projects__items {
    margin-top: 40vh;
  }
  .skills__graph {
    margin-top: -6%;
    transform: translateY(-4%);
  }
  .skills__graph__box {
    padding: 50px 0;
  }
  .video-player {
    margin-bottom: -12.5vh;
  }
}
@media screen and (min-width: 1024px) {
  .home__top {
    margin-top: 17vh;
    height: 29vh;
    font-size: larger;
  }
  .home__name {
    margin-top: 9vh;
  }
  .projects__items {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50vh;
    min-height: 30vh;
  }
  #skill_readout_percent {
    padding-top: 7px;
  }
  .contact__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills__graph {
    margin-top: 0%;
    transform: translateY(-11%);
  }
}
@media screen and (min-width: 1600px) {
  .projects {
    max-height: 100vh;
  }
  .projects__items {
    min-height: 40vh;
  }
}
body,
html {
  background: #23272a;
  color: antiquewhite;
  max-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: #ef7f31;
  box-shadow: inset 0 0 10px black;
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
  border: 2px solid #23272a;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: #23272a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 1em;
}

a {
  color: antiquewhite;
  text-decoration: none;
  text-shadow: none;
}

.text-secondary {
  color: #ef7f31;
  text-shadow: -1px -1px 0 rgba(35, 39, 42, 0.4), 1px -1px 0 rgba(35, 39, 42, 0.4), -1px 1px 0 rgba(35, 39, 42, 0.4), 1px 1px 0 rgba(35, 39, 42, 0.4);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  height: 88px;
}

main {
  top: 88px;
  height: 100%;
  width: 100%;
}
main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: clamp(10px, 2vw, 15px);
}
main .social-icons a {
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}
main .social-icons a:hover {
  color: #ef7f31;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: antiquewhite;
  transform: rotate(90deg) translate(-3rem, -5rem);
}

.orange-line {
  top: 46.3vh;
  height: 3px;
  width: 100%;
  background-color: #ef7f31;
}

button {
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 2vw, 15px);
}/*# sourceMappingURL=main.css.map */